<template>
    <div>
        <b-form-group
            id="input-group-1"
            label="Title"
        >
            <b-form-input
                id="input-1"
                v-model="details.title"
                placeholder="Title"
                required
            ></b-form-input>
        </b-form-group>

        <b-form-group
            id="input-group-1"
            label="Description">
            <b-form-textarea
                id="textarea"
                v-model="details.description"
                placeholder="Enter something..."
                rows="3"
                max-rows="6"
            ></b-form-textarea>
        </b-form-group>

        <b-button type="submit"
                  variant="primary"
                  v-if="details.id"
                  @click="update"
                  :disabled="process">Save
        </b-button>

        <b-button type="reset"
                  variant="primary"
                  v-if="!details.id"
                  @click="create"
                  :disabled="process"
        >Create
        </b-button>
    </div>
</template>

<script>
export default {
    data: function () {
        let {id, title, description, status} = (this.task || {});

        return {
            process: false,
            details: {
                id,
                title,
                description,
                status
            }
        }
    },
    props: ['task'],
    watch: {
        task(val) {
            let id, title, description, status;

            if (val) {
                ({id, title, description, status} = val);
            }

            this.details = {id, title, description, status};
        }
    },
    methods: {
        create() {
            let {title, description, status} = this.details;

            this.process = true;

            axios.post('/api/task', {title, description, status})
                .then(({data}) => {
                    this.details = data;
                    this.$emit('created');

                    this.process = false;
                });
        },
        update() {
            let {id, title, description, status} = this.details;

            this.process = true;

            axios.put(`/api/task/${id}`, {title, description, status})
                .then(({data}) => {
                    this.details = data;
                    this.$emit('updated');

                    this.process = false;
                });
        }
    }
}
</script>

<style scoped>

</style>
