<template>

    <div>
        <div class="container">
            <h1>Super TODO</h1>
            <div class="row">
                <div class="col-lg-4">

                    <b-list-group>
                        <todo-item v-for="task in tasks"
                                   :key="task.id"
                                   :task="task"
                                   @click="show"
                                   v-on:removed="onRemove"
                        ></todo-item>
                    </b-list-group>

                    <hr>
                    <b-button @click="create">Create</b-button>
                </div>
                <div class="col-lg-6">
                    <task-form v-if="formTask"
                               v-bind:task="formTask"
                               v-on:created="loadTask"
                               v-on:updated="loadTask"
                    ></task-form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

import TodoItem from './TodoItem'
import TaskForm from './TaskForm'

export default {
    data: function () {
        return {
            tasks: [],
            formTask: null
        }
    },
    props: [],
    methods: {
        show(task) {
            this.formTask = task;
        },
        create() {
            this.formTask = {
                id: null,
                title: '',
                description: '',
                status: null
            }
        },
        onRemove(id) {
            console.log(id);

            if (this.formTask.id === id) {
                this.closeForm();
            }

            this.loadTask();
        },
        loadTask() {
            axios.get('/api/task')
                .then(({data}) => {
                    this.tasks = data;
                })
        },
        closeForm() {
            this.formTask = null;
        }
    },
    mounted() {
        this.loadTask();
    },
    components: {TodoItem, TaskForm}
}

</script>
