<template>
    <div class="list-group-item" @click="$emit('click', task)">
        <div class="row">
            <div class="col-lg-10"> {{ task.title }}</div>
            <div class="col-lg-2">
                <b-button variant="danger"
                          size="sm"
                          @click="remove"
                          :disabled="process"
                >
                    <b-icon-trash></b-icon-trash>
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TodoItem",
    data: function() {
        return {
            process: false
        }
    },
    props: [
        'task'
    ],
    methods: {
        remove() {
            let {id} = this.task;
            this.process = true;

            axios.delete(`/api/task/${id}`)
                .then(() => {
                    this.$emit('removed', id);
                })
        }
    }
}
</script>

<style scoped>

</style>
